<div class="container"> 
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3 w-100 d-flex justify-content-center flex-wrap">
      <img class="w-12 mt-3" id="burgerImg" src="/assets/img/hamburgerMain.png">
      <h3>Eat-Da-Burger!</h3>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center flex-wrap d-block">
      <h5 class="d-inline">Enter a burger name you want to eat and click to Submit to order</h5>
      <form class="create-form" autocomplete="off">
        <div class="form-group">
          <input class="mt-2" type="text" id="burger" name="burger_name" size="50">
          <button class="btn btn-primary btn-sm ml-4" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div id="notDevoured">
        <h5 class="d-flex justify-content-center">Burgers that are ready to eat!</h5>

        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>
            {{burger_name}}
            <button class="changeDevour" data-id="{{id}}">Devour It!</button>
          </li>
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <div id="devoured">
        <h5 class="d-flex justify-content-center">Burgers that have already devoured!</h5>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <li>
            {{burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>